<!DOCTYPE html>
	<html>
		<head> 
			<title>
				MORE IMAGES
			</title>
		</head>	
		<body>
			<h1 style= "font-family:ARIAL NARROW; padding-left:140px" >MORE IMAGES</h1>

				<figure> 
				<img src="../images/janethevirgin.jpg" width="400px" height="400px" alt="Promotional poster for Jane the Virgin">
				<figcaption style="padding-left: 30px"> <i> Jane the Virgin </i> is one of my favorite tv shows </figcaption>
				</figure>
				
				<figure> 
				<img src="../images/poland.jpg" width="400px" height="400px" alt="Painted houses in the Old Market Square in Poland">
				<figcaption style="padding-left: 100px"> I was born in Poland </figcaption>
				</figure>
				
				<figure> 
				<img src="../images/barcelona.jpg" width="400px" height="400px" alt="Park Güell in Barcelona, Spain">
				<figcaption style="padding-left: 80px"> But I can speak Spanish as well </figcaption>
				</figure>

				<figure> 
				<img src="../images/camera.jpg" width="400px" height="400px" alt="Man holding a camera">
				<figcaption style="padding-left: 60px"> Another one of my hobbies is photography </figcaption>
				</figure>

				<figure> 
				<img src="../images/fashion.jpg" width="400px" height="400px" alt="Models walking down a runway during New York Fashion Week">
				<figcaption style="padding-left: 70px"> I want to work in fashion marketing</figcaption>
				</figure>

			<a href="../index.html" style= "font-family:Arial Narrow; font-size: 24px; padding-left: 190px"> Go Back </a>
		</body>
	</html>